:root {
  --background: #f0ede9;
  --foreground: #1f1f1f;
  --borders: #b2aaa5;
  --secondary: #676361;
}

html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  overflow-x: hidden;
  scrollbar-color: var(--secondary);
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--background);
}

body::-webkit-scrollbar-thumb {
  background: var(--background);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--secondary);
  text-decoration: none;
  position: relative;
}

iframe {
  border: none;
}